body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.taleo-header{
	background-color: #435563;
    padding: 10px;
}

.wrapper {
    display: table;
    margin: 0 auto;
    width: 100%;
}

.headerLogo {
    display: table-cell;
    margin-right: 30px;
  padding-left: 15px;  
    vertical-align: middle;
    float: left;
}

.navbar-brand{
	    float: right;
 color: black;
	
}
/*.content{
	//margin-right: auto;
   // margin-left: auto; 
   margin : 200px auto;
	font-size: 50px;
	text-align: center;
	
}*/

  /*.modal-header, h4, .close {
      background-color: #337ab7;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }*/
  
   
  .modal-head,.close{
  background-color: #337ab7;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  /*.close {
      background-color: #337ab7;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }*/
  
  .error{
  color: red;
  font-weight: normal;
}
#inputPassword3{
	width : 50%;
}
#inputEmail3{
	  width : 50%; 
  }
  
 .center-div
{
    
	 margin: auto;
     width: 100px;
     height: 100px; 
}

  #inputEmail{
      width : 300%; 
      margin-top:10px;
  }
  #inputPassword{
      width : 300%;
      margin-top : 10px;
  }
  #inputName{
	   width : 300%;
  }

  #inputUserName{
    width : 300%; 
    margin-top:10px;
  }
  #userLabelId{
  width: 105px;
  }

  #signupbutton{    
    width: 100px;
	text-align:center;
	
	 margin: 0 auto;
}

.form{
    width : 100px;
    margin:auto;
    

}
#loginBtn{
margin-left: 50px;
margin-top:10px;
width: 95px;
color: white;
font-size: 15px;
background-color:#435563;
}

#RegisterBtn{
    margin-left: 40px;
    margin-top:10px;
    width: 130px;
    color: white;
    font-size: 15px;
    background-color:#435563;
    }
.questionText{
    width:250px;
}
.mainDiv{
  padding:50px; 
  margin-left: -100px;
}


.products {
    text-align: center;
    width: 900px;
    margin: auto;
    margin-top: 20px;
    padding: 50px;
}

.products-list{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    background: #ececec;
    padding: 10px 0px;
}

.product-item {
    text-align: left;
    background: #ffffff;
    margin: 2px 20px;
    padding: 15px 20px;
    display: flex;
}

.products-name {
    flex:1;
    margin-top: 5px;
}
.product-delete {
    padding: 5px;
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    width: 31px;
    text-align: center;
    background: #eaeaea;
    color: #656565;
    cursor:pointer;
}

.product-add-container {
    background: #ececec;
    display: flex;
    padding: 20px 20px;
}

.product-input-txt {
    flex: 1;
    padding: 15px;
    border: 0px;
}

.product-add-btn {
    width: 100px;
    border: 0px;
    background: #4caf50;
    color: white;
}